In [1]:
import pandas as pd

filename = 'mh-cld-all_years.pkl'
df = pd.read_pickle(filename)
df

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,6,3,-9,5,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000001
1,2013,6,4,-9,6,1,2,1,2,2,...,0,0,0,1,0,1,1,6,3,20130000002
2,2013,11,3,3,6,1,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20130000003
3,2013,8,2,4,2,1,1,2,2,2,...,0,0,0,1,0,0,1,6,3,20130000004
4,2013,9,5,3,-9,1,1,2,2,2,...,0,0,0,1,0,0,1,6,3,20130000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362039,2019,5,-9,4,5,1,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20196362040
6362040,2019,4,4,4,6,1,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20196362041
6362041,2019,8,1,4,2,1,2,1,2,2,...,0,0,0,1,0,0,99,0,0,20196362042
6362042,2019,11,4,4,4,1,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20196362043
6362043,2019,14,-9,4,2,2,2,1,2,2,...,0,0,1,0,0,1,99,0,0,20196362044

In [2]:
depression_filt = df['MH1'] == 7 
trauma_filt = df['MH1'] == 1
bipolar_filt = df['MH1'] == 6

df_big3 = df[(depression_filt | trauma_filt | bipolar_filt)]

In [14]:
filt2013 = df_big3['YEAR'] == 2013
df_big3_2013 = df_big3[filt2013]
df_big3_2013

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2013,6,3,-9,5,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000001
5,2013,12,4,3,-9,1,1,2,2,2,...,0,0,0,0,0,0,1,6,3,20130000006
7,2013,5,2,-9,2,1,2,1,2,2,...,0,0,0,0,0,1,1,6,3,20130000008
12,2013,9,4,-9,5,1,1,2,2,2,...,0,0,0,0,0,1,1,6,3,20130000013
13,2013,14,5,3,-9,1,2,1,2,2,...,0,0,0,0,0,0,1,6,3,20130000014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5545637,2013,6,-9,-9,-9,2,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20135545638
5545647,2013,7,-9,-9,-9,2,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20135545648
5545650,2013,10,-9,-9,2,2,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20135545651
5545656,2013,4,-9,-9,-9,2,2,1,2,2,...,0,0,0,0,0,0,99,0,0,20135545657
5545673,2013,9,-9,-9,4,2,2,1,2,2,...,0,0,0,0,0,1,99,0,0,20135545674

In [27]:
use_example = df_big3_2013.sample(n = 100000)

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

# Modeling Packages
import sklearn
from sklearn.model_selection import train_test_split   # For Data Partitioning
from sklearn.linear_model import LinearRegression      # To implement Linear Regression
from sklearn.feature_selection import RFE              # To implement RFE
from sklearn.model_selection import StratifiedKFold, KFold              # For creating folds
from sklearn.model_selection import cross_val_score    # For implementing Cross Validation experiments
from sklearn.model_selection import GridSearchCV       # To implement GridSearch CV
from sklearn.model_selection import RandomizedSearchCV # To implement Randomized Search CV
from sklearn.linear_model import Lasso, Ridge          # To implement Lasso and Ridge Regression
from sklearn.metrics import classification_report
from sklearn.metrics import plot_confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [28]:
cols = ['AGE', 'EDUC', 'ETHNIC', 'RACE', 'GENDER', 'MARSTAT', 'SAP', 'EMPLOY', 'DETNLF', 'VETERAN', 'LIVARAG']
x = use_example[cols]
y = use_example['MH1']

display(x.head())
display(y.head())

,AGE,EDUC,ETHNIC,RACE,GENDER,MARSTAT,SAP,EMPLOY,DETNLF,VETERAN,LIVARAG
4906723,7,4,4,5,2,-9,1,4,-9,-9,2
621849,6,-9,4,5,2,-9,2,-9,-9,-9,2
4772757,5,4,4,5,2,1,1,5,5,-9,3
1428070,2,-9,3,5,1,1,2,-9,-9,-9,2
3583773,6,-9,-9,3,2,-9,2,-9,-9,-9,-9

4906723    6
621849     6
4772757    7
1428070    7
3583773    7
Name: MH1, dtype: int64

In [29]:
#split into train and test
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.3, random_state = 1) 

#defining the folds
folds = KFold(n_splits = 5, shuffle = True, random_state = 1)

In [30]:
clf = DecisionTreeClassifier(random_state = 42)

hyper_params = {
    'max_depth': [10, 60 , 100], 
    'min_samples_split': [10, 20, 40], 
    'min_samples_leaf': [45, 55, 65]
}

# Call GridSearchCV()
model_clf = GridSearchCV(estimator = clf, 
                        param_grid = hyper_params, 
                        scoring = 'f1_weighted', 
                        cv = folds, 
                        verbose = 1,
                        n_jobs = -1) # Will utilize all available CPUs 

model_clf.fit(train_x, train_y)  
print('Initial score: ', model_clf.best_score_)
print('Initial parameters: ', model_clf.best_params_)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Initial score:  0.4930001654382415
Initial parameters:  {'max_depth': 60, 'min_samples_leaf': 45, 'min_samples_split': 10}

In [37]:
clf = DecisionTreeClassifier(random_state = 42)

hyper_params_new = {
    'max_depth': list(range(45, 50)), 
    'min_samples_split': list(range(1, 5)), 
    'min_samples_leaf': list(range(52, 57))
}

folds = KFold(n_splits = 5, shuffle = True, random_state = 100)

# Call GridSearchCV()
model_clf = GridSearchCV(estimator = clf, 
                        param_grid = hyper_params_new, 
                        scoring = 'f1_weighted', # Use a suitable regression metric
                        cv = folds, 
                        verbose = 1,
                        n_jobs = -1) # Will utilize all available CPUs 

model_clf.fit(train_x, train_y)  
print('Improved score: ', model_clf.best_score_)
print('Improved parameters: ', model_clf.best_params_)

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Improved score:  0.49258148551943776
Improved parameters:  {'max_depth': 45, 'min_samples_leaf': 56, 'min_samples_split': 2}